<section class="">
	<div id="slides" class="carousel slide" data-ride="carousel">
		<ul class="carousel-indicators">
			<li data-target="#slides" data-slide-to="0" class="active"></li>
			<li data-target="#slides" data-slide-to="1"></li>
			<li data-target="#slides" data-slide-to="2"></li>
			<li data-target="#slides" data-slide-to="3"></li>
		</ul>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="../img/banner/desktop-website_slider_slider-2__4.jpg" alt="">
				<div class="carousel-caption">
					<h1>Mua Sắm Nào</h1>
					<button type="button" class="btn btn-light btn-lg"><a href="/san-pham">Tham Quan</a>
					</button>
				</div>
			</div>
			<div class="carousel-item">
				<img src="../img/banner/1505849900-new-converse-shoes.jpg" alt="">
				<div class="carousel-caption">
					<h1>Mua Sắm Nào</h1>
					<button type="button" class="btn btn-light btn-lg"><a href="/san-pham">Tham Quan</a>
					</button>
				</div>
			</div>
			<div class="carousel-item">
				<img src="../img/banner/1248.jpg" alt="">
				<div class="carousel-caption">
					<h1>Mua Sắm Nào</h1>
					<button type="button" class="btn btn-light btn-lg"><a href="/san-pham">Tham Quan</a>
					</button>
				</div>
			</div>
			<div class="carousel-item">
				<img src="../img/banner/Vans-Shoes-on-shelf.jpg" alt="">
				<div class="carousel-caption">
					<h1>Mua Sắm Nào</h1>
					<button type="button" class="btn btn-light btn-lg"><a href="/san-pham">Tham Quan</a>
					</button>
				</div>
			</div>
		</div>
	</div>
	<nav class="">
		<div class="row">
			<div class="menu">
				<span type="button" class="btn tes">
					<a href="" class="">Danh Mục</a>
				</span>
				<span type="button" class="btn tes">
					<img src="../img/banner/nike.png" alt="Adidas">
					<a href="/nike" class="nav-link">NiKe</a>
				</span>
				<span type="button" class="btn tes">
					<img src="../img/banner/converse.png" alt="Converse">
					<a href="/converse" class="nav-link">Converse</a>
				</span>
				<span type="button" class="btn tes">
					<img src="../img/banner/adidas.png" alt="Adidas">
					<a href="/adidas" class="nav-link">AdiDas</a>
				</span>
				<span type="button" class="btn tes">
					<img src="../img/banner/vans.png" alt="VANS">
					<a href="/vans" class="nav-link">VANS</a>
				</span>
			</div>
		</div>
	</nav>

	<div class="">
		<div class="">
			<div class="col-lg-12">
				<div class="active-banner-slider owl-carousel">
					<!-- single-slide -->
					<div class="row single-slide align-items-center d-flex">
						<div class="col-lg-5 col-md-6">
							{{!-- <div class="banner-content">
								<h1>Karma- Không làm đôi chân bạn thất vọng!</h1>
								<p>Shop giày online Karma đã khẳng định được sự chuyên nghiệp của mình trong công việc.
									Giày tại Karma được cập nhật mới liên tục, mỗi mẫu đều có số lượng hàng đầy đủ để
									cung ứng cho khách hàng bán buôn và bán lẻ.</p>
							</div> --}}
						</div>
						<div class="col-lg-7">
							{{!-- <div class="banner-img">
								<img class="img-fluid" src="/img/banner/banner-img.png" alt="">
							</div> --}}
						</div>
					</div>
					<!-- single-slide -->
					<div class="row single-slide">
						<div class="col-lg-5">
							{{!-- <div class="banner-content">
								<h1>Sản phẩm chất lượng, mẫu mã đẹp <br></h1>
								<p>Chúng tôi luôn cập nhật tất cả các mẫu mới nhất tại thị trường và chất lượng nhất với
									người sử dụng</p>

							</div> --}}
						</div>
						<div class="col-lg-7">
							{{!-- <div class="banner-img">
								<img class="img-fluid" src="/img/banner/banner-img.png" alt="">
							</div> --}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>